SIP_CALLRESOLVER_LOG_CONSOLE :
SIP_CALLRESOLVER_LOG_DIR :
SIP_CALLRESOLVER_LOG_LEVEL : $settings.getSetting('SIP_CALLRESOLVER_LOG_LEVEL').Value
SIP_CALLRESOLVER_PURGE : $settings.getSetting('SIP_CALLRESOLVER_PURGE').Value
SIP_CALLRESOLVER_PURGE_AGE_CDR : $settings.getSetting('SIP_CALLRESOLVER_PURGE_AGE_CDR').Value
SIP_CALLRESOLVER_PURGE_AGE_CSE : $settings.getSetting('SIP_CALLRESOLVER_PURGE_AGE_CSE').Value
SIP_CALLRESOLVER_CSE_POLLING_INTERVAL : 10
SIP_CALLRESOLVER_CALL_DIRECTION : $settings.getSetting('SIP_CALLRESOLVER_CALL_DIRECTION').Value
SIP_CALLRESOLVER_AGENT_PORT : ${callresolverService.agentPort}
SIP_CALLRESOLVER_AGENT_ADDR : ${callresolverService.agentAddress}
SIP_CALLRESOLVER_CSE_QUEUE_SIZE : 2500
SIP_CALLRESOLVER_CDR_QUEUE_SIZE : 1000
SIP_CALLRESOLVER_MAX_CALL_LEN : 28800
SIP_CALLRESOLVER_MAX_RINGING_CALL_LEN : 120
SIP_CALLRESOLVER_MIN_CLEANUP_INTERVAL : 300
SIP_CALLRESOLVER_DB_USER : @sipxconfig.db.user@
#if (${callresolverHosts})
SIP_CALLRESOLVER_CSE_HOSTS : ${callresolverHosts}
#end
