## Velocity macros
## only emit not null setting
#macro(generate_setting $setting)
#if($setting.profileName == $setting.name)
#if($setting.value)
${setting.name}="${setting.value}"
#else
#if($setting.name != "system:auto_update:code_server_url")
${setting.name}=""
#end
#end
#end
#end
[DATA]
Success=1

[SETTINGS]

#set ($max_lines_minus_one = $max_lines - 1)
#foreach ($line_index in [0..$max_lines_minus_one])
#if($line_index < $line_sip_settings.size())
#set ($sip_account = $line_sip_settings.get($line_index))
#foreach ($setting in $sip_account)
proxies:proxy${line_index}:#generate_setting($setting)
#end
#else
proxies:proxy${line_index}:enabled="false"
proxies:proxy${line_index}:username=""
proxies:proxy${line_index}:domain=""
proxies:proxy${line_index}:password=""
#end

#end
#set ($last_sip_line_index = $max_lines - 1)
#foreach ($xmpp_account in $line_xmpp_settings)
#set ($line_index = $last_sip_line_index + $velocityCount)
#foreach ($setting in $xmpp_account)
proxies:proxy${line_index}:#generate_setting($setting)
#end

#end
#foreach ($setting in $phone_leaf_settings)
#generate_setting($setting)
#end

#foreach ($setting in $phone_leaf_settings)
#if($setting.profileName == "codec_name")
#if($setting.value != "0.0")
codecs:${setting.name}:enabled="true"
codecs:${setting.name}:priority="${setting.value}"
#else
codecs:${setting.name}:enabled="false"
#end
#end
#end
