# Configure the redirectors. 
SIP_REDIRECT_HOOK_LIBRARY.110-DUMMY1 : .libs/libDummyRedirectPlugin.so
SIP_REDIRECT_AUTHORITY_LEVEL.110-DUMMY1 : 20  
SIP_REDIRECT.110-DUMMY1.BEHAVIOR : ADD_SELF_AS_CONTACT 

SIP_REDIRECT_HOOK_LIBRARY.120-DUMMY2 : .libs/libDummyRedirectPlugin.so
SIP_REDIRECT_AUTHORITY_LEVEL.120-DUMMY2 : 10  
SIP_REDIRECT.120-DUMMY2.BEHAVIOR : ADD_SELF_AS_CONTACT

SIP_REDIRECT_HOOK_LIBRARY.130-DUMMY3 : .libs/libDummyRedirectPlugin.so
SIP_REDIRECT_AUTHORITY_LEVEL.130-DUMMY3 : 40  
SIP_REDIRECT.130-DUMMY3.BEHAVIOR : DONT_ADD_CONTACT 

SIP_REDIRECT_HOOK_LIBRARY.140-DUMMY4 : .libs/libDummyRedirectPlugin.so
SIP_REDIRECT_AUTHORITY_LEVEL.140-DUMMY4 : 30  
SIP_REDIRECT.140-DUMMY4.BEHAVIOR : ADD_SELF_AS_CONTACT
