## Velocity macros
<?xml version="1.0" encoding="UTF-8"?>
<!--
    This file stores bootstrap properties needed by Openfire.
    Property names must be in the format: "prop.name.is.blah=value"
    That will be stored as:
        <prop>
            <name>
                <is>
                    <blah>value</blah>
                </is>
            </name>
        </prop>

    Most properties are stored in the Openfire database. A
    property viewer and editor is included in the admin console.
-->
<!-- root element, all properties must be under this element -->
<jive>
  <adminConsole>
	<!-- Disable either port by setting the value to -1 -->
	<port>9094</port>
	<securePort>9095</securePort>
  </adminConsole>
  <admin>
      <authorizedUsernames>${authorizedUsernames}</authorizedUsernames>
  </admin>
#if($isEnableOpenfireConfiguration)
  <ldap>
	<host>${ldapParams.host}</host>
	<port>${ldapParams.portToUse}</port>
	<sslEnabled>${ldapParams.useTls}</sslEnabled>
	<baseDN>${attrMap.searchBase}</baseDN>
#if(!$isLdapAnonymousAccess)
	<adminDN>${ldapParams.principal}</adminDN>
	<adminPassword>${ldapParams.secret}</adminPassword>
#end
	<usernameField>${attrMap.imAttributeName}</usernameField>
	<searchFilter><![CDATA[${attrMap.searchFilter}]]></searchFilter>
  </ldap>
#end
  <connectionProvider>
	<className>org.jivesoftware.database.DefaultConnectionProvider</className>
  </connectionProvider>
  <database>
	<defaultProvider>
	  <driver>org.postgresql.Driver</driver>
	  <serverURL>jdbc:postgresql://localhost:5432/openfire</serverURL>
	  <username>postgres</username>
	  <password>postgres</password>
	</defaultProvider>
  </database>
  <setup>true</setup>
  <log>
	<debug>
	  <enabled>false</enabled>
	</debug>
  </log>
  <locale>$locale</locale>
  <clustering>
    <enabled>$clusteringState</enabled>
  </clustering>
</jive>