## Velocity macros
#macro(generate_severs_list $servers_list $label)
#foreach ($server in $servers_list)
		<$label>
			<host>$server.address</host>
			<port>$server.port</port>
		</$label>
#end
#end
<?xml version="1.0" ?>
<sipxopenfire-config xmlns="http://www.sipfoundry.org/sipX/schema/xml/sipxopenfire-00-00">
	<sipx-proxy-domain>${domainName}</sipx-proxy-domain>
	<sipx-proxy-port>${proxyPort}</sipx-proxy-port>
	<user-name>$username</user-name>
	<password>$password</password>
	<resource-list>$resource-list</resource-list>
	<watcher-address>${location.address}</watcher-address>
	<watcher-port>${settings.watcherPort}</watcher-port>
	<log-directory>@SIPX_LOGDIR@</log-directory>
	<log-level>settings.getSetting('settings/log-level').Value</log-level>
	<openfire-xml-rpc-port>$settings.xmlRpcPort</openfire-xml-rpc-port>
	<openfire-host>${location.fqdn}</openfire-host>
	<locale>$settings.getSetting('settings/locale').Value</locale>
	<sipxrest-ip-address>$!{restService.address}</sipxrest-ip-address>
	<sipxrest-https-port>$!{restService.port}</sipxrest-https-port>
	<sipxrest-external-http-port>$!{restExtAddress.port}</sipxrest-external-http-port>
	<server-to-server>
		<enabled>$settings.getSetting('openfire-server-to-server/enabled').Value</enabled>
		<port>${settings.xmppPort}</port>
		<disconnect-on-idle>$settings.getSetting('openfire-server-to-server/disconnect-on-idle').Value</disconnect-on-idle>
		<idle-timeout>$settings.getSetting('openfire-server-to-server/idle-timeout').Value</idle-timeout>
		<any-can-connect>$settings.getSetting('openfire-server-to-server/any-can-connect').Value</any-can-connect>
#generate_severs_list($settings.allowedServers, 'allowed-servers')
#generate_severs_list($settings.disallowedServers, 'disallowed-servers')
	</server-to-server>
	<IM-message-logging>$settings.getSetting('message-logging/enabled').Value</IM-message-logging>
	<IM-message-logging-directory>@SIPX_LOGDIR@</IM-message-logging-directory>
</sipxopenfire-config>
