# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
*~
Makefile.in
aclocal.m4
config.h.in
autom4te.cache
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
configure
sipXconfig/top.build.dir
spy.log
velocity.log
bin.eclipse
# exclude files created when building 3rd party deps
lib/*/build
lib/cache-file
lib/dist
sipXtackLib/src/test/net/SipXauthIdentityTest.cpp
# because these are not git modules but download as part of build process
sipXlang-*
/build/
/BUILD/sipxecs.master/nbproject/private/
/BUILD/sipXacd/src/.deps/
/BUILD/sipXcallLib/examples/CallScript/src/.deps/
/BUILD/sipXcallLib/examples/PlaceCall/src/.deps/
/BUILD/sipXcallLib/examples/ReceiveCall/src/.deps/
/BUILD/sipXcallLib/examples/SendAudio/src/.deps/
/BUILD/sipXcallLib/examples/musicServer/.deps/
/BUILD/sipXcallLib/src/.deps/
/BUILD/sipXcallLib/src/.libs/
/BUILD/sipXcallLib/src/test/.deps/
/BUILD/sipXcallLib/src/test/.libs/
/BUILD/sipXcallLib/src/test/tapi/.deps/
/BUILD/sipXcommons/src/main/native/.deps/
/BUILD/sipXcommons/src/main/native/.libs/
/BUILD/sipXcommserverLib/bin/.deps/
/BUILD/sipXcommserverLib/bin/.libs/
/BUILD/sipXcommserverLib/src/.deps/
/BUILD/sipXcommserverLib/src/.libs/
/BUILD/sipXcommserverLib/src/sipdb/.deps/
/BUILD/sipXcommserverLib/src/sipdb/.libs/
/BUILD/sipXcommserverLib/src/sipxcdrpostgres/.deps/
/BUILD/sipXcommserverLib/src/sipxchangetimezone/.deps/
/BUILD/sipXcommserverLib/src/sipxpackage/.deps/
/BUILD/sipXcommserverLib/src/sipxrestorebinary/.deps/
/BUILD/sipXcommserverLib/src/sipxswadmin/.deps/
/BUILD/sipXcommserverLib/src/sipxtimemanager/.deps/
/BUILD/sipXcommserverLib/src/sipxzoneadmin/.deps/
/BUILD/sipXcommserverLib/src/test/.deps/
/BUILD/sipXcommserverLib/src/test/testlib/.deps/
/BUILD/sipXcommserverLib/src/test/testlib/.libs/
/BUILD/sipXcommserverLib/src/xsdvalid/.deps/
/BUILD/sipXmediaAdapterLib/interface/.deps/
/BUILD/sipXmediaAdapterLib/interface/.libs/
/BUILD/sipXmediaAdapterLib/sipXmediaConferenceEngine/src/.deps/
/BUILD/sipXmediaAdapterLib/sipXmediaMediaProcessing/src/.deps/
/BUILD/sipXmediaAdapterLib/sipXmediaMediaProcessing/src/.libs/
/BUILD/sipXmediaAdapterLib/sipXmediaVoiceEngine/src/.deps/
/BUILD/sipXmediaLib/src/.deps/
/BUILD/sipXmediaLib/src/.libs/
/BUILD/sipXmediaLib/src/test/.deps/
/BUILD/sipXpark/src/.deps/
/BUILD/sipXportLib/src/.deps/
/BUILD/sipXportLib/src/.libs/
/BUILD/sipXportLib/src/test/.deps/
/BUILD/sipXportLib/src/test/sipxunit/.deps/
/BUILD/sipXportLib/src/test/sipxunit/.libs/
/BUILD/sipXportLib/src/test/testplugin/.deps/
/BUILD/sipXportLib/src/test/testplugin/.libs/
/BUILD/sipXportLib/syslogviewer/.deps/
/BUILD/sipXpresence/src/.deps/
/BUILD/sipXproxy/lib/authplugins/.deps/
/BUILD/sipXproxy/lib/authplugins/.libs/
/BUILD/sipXproxy/lib/authplugins/NatTraversalAgent/.deps/
/BUILD/sipXproxy/lib/authplugins/NatTraversalAgent/.libs/
/BUILD/sipXproxy/lib/authplugins/NatTraversalAgent/authplugins/.libs/
/BUILD/sipXproxy/lib/authplugins/authplugins/.libs/
/BUILD/sipXproxy/lib/authplugins/test/.deps/
/BUILD/sipXproxy/src/.deps/
/BUILD/sipXproxy/src/.libs/
/BUILD/sipXproxy/src/test/.deps/
/BUILD/sipXproxy/src/test/.libs/
/BUILD/sipXpublisher/src/.deps/
/BUILD/sipXregistry/lib/redirect_plugins/.deps/
/BUILD/sipXregistry/lib/redirect_plugins/.libs/
/BUILD/sipXregistry/lib/redirect_plugins/test/.deps/
/BUILD/sipXregistry/lib/register_plugins/mwi/.deps/
/BUILD/sipXregistry/lib/register_plugins/mwi/.libs/
/BUILD/sipXregistry/lib/register_plugins/mwi/test/.deps/
/BUILD/sipXregistry/src/.deps/
/BUILD/sipXregistry/src/.libs/
/BUILD/sipXregistry/src/test/.deps/
/BUILD/sipXregistry/src/test/.libs/
/BUILD/sipXrls/src/.deps/
/BUILD/sipXrls/src/test/.deps/
/BUILD/sipXsaa/src/.deps/
/BUILD/sipXsaa/src/test/.deps/
/BUILD/sipXsupervisor/src/.deps/
/BUILD/sipXsupervisor/src/.libs/
/BUILD/sipXtackLib/dialogwatch/.deps/
/BUILD/sipXtackLib/dialogwatch/.libs/
/BUILD/sipXtackLib/examples/im/.deps/
/BUILD/sipXtackLib/examples/im/.libs/
/BUILD/sipXtackLib/examples/xmlrpc/.deps/
/BUILD/sipXtackLib/examples/xmlrpc/.libs/
/BUILD/sipXtackLib/siptest/src/siptest/.deps/
/BUILD/sipXtackLib/siptest/src/siptest/.libs/
/BUILD/sipXtackLib/src/.deps/
/BUILD/sipXtackLib/src/.libs/
/BUILD/sipXtackLib/src/test/.deps/
/BUILD/sipXtools/src/syslog2siptrace/.deps/