# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
*~
Makefile.in
aclocal.m4
config.h.in
autom4te.cache
config/compile
config/config.guess
config/config.sub
config/depcomp
config/install-sh
config/ltmain.sh
config/missing
configure
sipXconfig/top.build.dir
spy.log
velocity.log
bin.eclipse
# exclude files created when building 3rd party deps
lib/*/build
lib/cache-file
lib/dist
sipXtackLib/src/test/net/SipXauthIdentityTest.cpp
sipXecs-lang-abitibi-fr_CA
sipXecs-lang-ch
sipXecs-lang-de
sipXecs-lang-en_BR
sipXecs-lang-es
sipXecs-lang-fr
sipXecs-lang-fr_CA
sipXecs-lang-it
sipXecs-lang-ja
sipXecs-lang-mx
sipXecs-lang-nl
sipXecs-lang-pl
sipXecs-lang-pt_BR
sipXecs-lang-zh
