[submodule "freeswitch"]
	path = freeswitch
	url = git://github.com/dhubler/freeswitch.git
[submodule "OpenACD"]
	path = OpenACD
	url = git://github.com/OpenACD/OpenACD.git
[submodule "homer"]
	path = homer
	url = http://code.google.com/p/homer/
[submodule "sipXhomer"]
	path = sipXhomer
	url = git://github.com/dhubler/sipXhomer.git
[submodule "sipXlang-abitibi-fr_CA"]
	path = sipXlang-abitibi-fr_CA
	url = git://github.com/dhubler/sipXlang-abitibi-fr_CA.git
[submodule "sipXlang-ch"]
	path = sipXlang-ch
	url = git://github.com/dhubler/sipXlang-ch.git
[submodule "sipXlang-cs"]
	path = sipXlang-cs
	url = git://github.com/dhubler/sipXlang-cs.git
[submodule "sipXlang-de"]
	path = sipXlang-de
	url = git://github.com/dhubler/sipXlang-de.git
[submodule "sipXlang-en_GB"]
	path = sipXlang-en_GB
	url = git://github.com/dhubler/sipXlang-en_GB.git
[submodule "sipXlang-es"]
	path = sipXlang-es
	url = git://github.com/dhubler/sipXlang-es.git
[submodule "sipXlang-fr_CA"]
	path = sipXlang-fr_CA
	url = git://github.com/dhubler/sipXlang-fr_CA.git
[submodule "sipXlang-fr"]
	path = sipXlang-fr
	url = git://github.com/dhubler/sipXlang-fr.git
[submodule "sipXlang-it"]
	path = sipXlang-it
	url = git://github.com/dhubler/sipXlang-it.git
[submodule "sipXlang-ja"]
	path = sipXlang-ja
	url = git://github.com/dhubler/sipXlang-ja.git
[submodule "sipXlang-es_MX"]
	path = sipXlang-es_MX
	url = git://github.com/dhubler/sipXlang-es_MX.git
[submodule "sipXlang-nl"]
	path = sipXlang-nl
	url = git://github.com/dhubler/sipXlang-nl.git
[submodule "sipXlang-pl"]
	path = sipXlang-pl
	url = git://github.com/dhubler/sipXlang-pl.git
[submodule "sipXlang-pt_BR"]
	path = sipXlang-pt_BR
	url = git://github.com/dhubler/sipXlang-pt_BR.git
[submodule "sipXlang-zh"]
	path = sipXlang-zh
	url = git://github.com/dhubler/sipXlang-zh.git
[submodule "oss_core"]
	path = oss_core
	url = git://github.com/ezuce/oss_core.git
[submodule "sipXsbc"]
	path = sipXsbc
	url = git://github.com/ezuce/sipXsbc.git
[submodule "openfire"]
	path = openfire
	url = git://github.com/dhubler/openfire.git
[submodule "oacd_freeswitch"]
	path = oacd_freeswitch
	url = git@github.com:sipxopenacd/oacd_freeswitch
[submodule "oacd_dialplan"]
	path = oacd_dialplan
	url = git@github.com:sipxopenacd/oacd_dialplan
[submodule "oacd_web"]
	path = oacd_web
	url = git@github.com:sipxopenacd/oacd_web
[submodule "sipxopenacd"]
	path = sipxopenacd
	url = git@github.com:sipxopenacd/sipxplugin
[submodule "openacd"]
	path = openacd
	url = git@github.com:sipxopenacd/openacd.git
