[submodule "freeswitch"]
	path = freeswitch
	url = git://github.com/dhubler/freeswitch.git
[submodule "OpenACD"]
	path = OpenACD
	url = git://github.com/OpenACD/OpenACD.git
[submodule "homer"]
	path = homer
	url = http://code.google.com/p/homer/
[submodule "sipXhomer"]
	path = sipXhomer
	url = git://github.com/dhubler/sipXhomer.git
