<?xml version="1.0" ?>
<rest-config xmlns="http://www.sipfoundry.org/sipX/schema/xml/rest-config-00-00">
<ip-address>47.134.206.174</ip-address>
<sip-port>6050</sip-port>
<https-port>6666</https-port>
<external-http-port>6667</external-http-port>
<sipx-proxy-domain>bcmd206174.ca.nortel.com</sipx-proxy-domain>
<log-directory>/usr/local/sipx/var/log/sipxpbx</log-directory>
<log-level>DEBUG</log-level>
</rest-config>
