<?xml version="1.0" ?>
<rest-config xmlns="http://www.sipfoundry.org/sipX/schema/xml/rest-config-00-00">
<ip-address>192.168.5.75</ip-address>
<https-port>6666</https-port>
<external-http-port>6667</external-http-port>
<sipx-proxy-domain>sipxtest.sipxtest.net</sipx-proxy-domain>
<log-directory>/usr/local/sipx/var/log/sipxpbx</log-directory>
<log-level>DEBUG</log-level>
<sip-port>6050</sip-port>
</rest-config>
