SIP_DOMAIN_NAME : ${domain.Name}
SIP_DOMAIN_ALIASES : ${domainAliases}
SIP_REALM : ${realm}
SHARED_SECRET : ${domain.SharedSecret}
DEFAULT_LANGUAGE : $language
ALARM_SERVER_URL : https://${domain.Name}:8092
SUPERVISOR_PORT : 8092
CONFIG_HOSTS : ${configServerHost}
