sip.address : ${dollar}{PAGE_SERVER_ADDR}
rtp.port : 8500
sip.tlsPort : ${dollar}{PAGE_SERVER_SIP_SECURE_PORT}
sip.udpPort : ${dollar}{PAGE_SERVER_SIP_PORT}
sip.tcpPort : ${dollar}{PAGE_SERVER_SIP_PORT}

log.file : ${dollar}{PAGE_LOG_DIR}/sipxpage.log
log.level : ${logLevel}
#foreach($g in $groups)
#if(${g.enabled})
#set($id = "page.group.${velocityCount}")

${id}.user : ${g.pageGroupNumber}
${id}.description : $!{g.description}
${id}.urls : ${g.formatUserList($domain)}
${id}.beep : file://${audioDir}/${g.sound}
#end
#end