<context name="default">
#foreach($conference in $conferences)
#if(${conference.enabled})
  <extension name="${conference.extension}">
    <condition field="destination_number" expression="^${conference.name}${dollar}">
#if(${conference.participantAccessCode})
      <action application="set" data="supplied_pin=${dollar}{sip_h_X-ConfPin}"/>
      <action application="bridge" data="loopback/app=conference:${conference.name}@${conference.extension}+${conference.participantAccessCode}"/>
#else
      <action application="bridge" data="loopback/app=conference:${conference.name}@${conference.extension}"/>
#end
    </condition>
  </extension>
#end
#end
  <extension name="IVR">
    <condition field="destination_number" expression="^IVR${dollar}">
      <action application="socket" data="${location.address}:8084 async full"/>
    </condition>
  </extension>
#if ($acccode)
  <extension name="ACC">
    <condition field="destination_number" expression="^ACC${dollar}">
      <action application="socket" data="${location.address}:8184 async full"/>
    </condition>
  </extension>
#end
</context>
