## params macro emits a parameter per line
## setting - reference to a setting group
## param_list - list of parameter names
#macro(params $setting $param_list)
#foreach($p in $param_list)
$p=$!setting.getSetting($p).Value
#end
#end
#set($ps = $phone.Settings)
#set($myphone = $phone.Model.modelId.trim())
##
[USER_ACCOUNT]
#foreach ($line in $phone.lines)
#foreach ($group in $line.Settings.Values)
#foreach ($setting in $group.Values)
${setting.ProfileName}=$!{setting.Value}
#end
#end
#end

#set($sysset = $ps.getSetting('SYSTEM'))
[SYSTEM]
Language=$!sysset.getSetting('Language').Value
Admin_Password=$!sysset.getSetting('Admin_Password').Value
Country_Tone_Type=$!sysset.getSetting('Country_Tone_Type').Value

#set($rtp = $ps.getSetting('SIP').getSetting('RTP_RTCP'))
[RTP_RTCP]
Use_RTCP=$!rtp.getSetting('Use_RTCP').Value
RTP_Port_Min=$!rtp.getSetting('RTP_Port_Min').Value
RTP_Port_Max=$!rtp.getSetting('RTP_Port_Max').Value
RTCP_Report_Interval=$!rtp.getSetting('RTCP_Report_Interval').Value
Last_RTP_Received_Timeout=$!rtp.getSetting('Last_RTP_Received_Timeout').Value

#set($sntps = $ps.getSetting('SNTP'))
[TIME]
NTP_Refresh_Interval=$!sntps.getSetting('NTP_Refresh_Interval').Value
NTP_Server1=$!sntps.getSetting('NTP_Server1').Value
NTP_Server2=$!sntps.getSetting('NTP_Server2').Value

#set($pssip = $ps.getSetting('SIP'))
[SIP]
Local_Port=$!pssip.getSetting('Local_Port').Value

#set($ss = $ps.getSetting('SERVER_SETTINGS'))
[SERVER_SETTINGS]
1st_Proxy=$!ss.getSetting('1st_Proxy').Value
2nd_Proxy=$!ss.getSetting('2nd_Proxy').Value
Domain_Realm=$!ss.getSetting('Domain_Realm').Value
Register_Expire=$!ss.getSetting('Register_Expire').Value

#set($basic = $ps.getSetting('CallSettings').getSetting('BASIC_CALL'))
[BASIC_CALL]
Use_Call_Waiting=$!basic.getSetting('Use_Call_Waiting').Value
Session_Expire=$!basic.getSetting('Session_Expire').Value
Remove_DASH_On_Alias=$!basic.getSetting('Remove_DASH_On_Alias').Value

#set($wifiset = $ps.getSetting('WiFiSettings').getSetting('WIFI'))
[WIFI]
Enable_Check_Server_Cert=$!wifiset.getSetting('Enable_Check_Server_Cert').Value
Force_Enable_Short_Preamble=$!wifiset.getSetting('Force_Enable_Short_Preamble').Value

#set($wifiscan = $ps.getSetting('WiFiSettings').getSetting('WIFI_SCAN'))
[WIFI_SCAN]
Scan_Channel_List=$!wifiscan.getSetting('Scan_Channel_List').Value

#set($roam = $ps.getSetting('WiFiSettings').getSetting('ROAMING'))
[ROAMING]
Try_Beacon_Signal_Level=$!roam.getSetting('Try_Beacon_Signal_Level').Value
Try_Over_TxError_Count=$!roam.getSetting('Try_Over_TxError_Count').Value

#set($prov = $ps.getSetting('PROVISIONING').getSetting('PROVISION'))
[PROVISION]
Firmware_Version=$!prov.getSetting('Firmware_Version').Value
Firmware_Name=$!prov.getSetting('Firmware_Name').Value
Firmware_URL=$!prov.getSetting('Firmware_URL').Value
#if(! $!prov.getSetting('Phonebook_Name').Value)
#set($serial = "$phone.SerialNumber")
Phonebook_Name=${serial}-phonebook.csv
#else
Phonebook_Name=$!prov.getSetting('Phonebook_Name').Value
#end

#macro(network $net)
#params($net ['Name', 'Enable', 'SSID'])
#params($net.getSetting('NetworkSettings') ['Enable_DHCP', 'Address', 'Netmask', 'Gateway', 'DNS1', 'DNS2'])
#params($net.getSetting('WifiSecurity') ['Security', 'WEP_Bits', 'Default_WEP_Key', 'WEP_Key1', 'WEP_Key2', 'WEP_Key3', 'WEP_Key4', 'WPA_PSK_PassPhrase', 'WPA_PSK_Key', 'Use_WPA_PSK_Key_Hex_Mode', 'Proactive_Key_Caching', 'PMK_LifeTime', 'PMK_Max_Count'])
#params($net.getSetting('PostAuthentication') ['Post_Authentication_Mode', '8021X_Name', '8021X_Password']) 
#params($net.getSetting('QoS') ['WMM', 'DiffServ_Signal', 'DiffServ_Media'])
#params($net.getSetting('VoIP') ['Jitter_Buffer_Size', 'Payload_Type', 'Multiframe'])
#end
## generate params for Networks 1 - 4
#foreach($i in [1..4])
[NETWORK$i]
#network($ps.getSetting("NETWORK$i"))

#end
