#set($imbot=${service.getSettings().getSetting('imbot')})
log.level=$imbot.getSetting('log.level').Value
log.file=${service.logDir}/sipximbot.log

imbot.docDirectory=${service.docDir}
imbot.sipxchangeDomainName=${service.domainName}
imbot.realm=${service.realm}
imbot.voicemailRootUrl=https://$!{voicemailFqdn}:$!{ivrService.httpsPort}
imbot.configUrl=https://$!{configFqdn}:8443
imbot.3pccSecureUrl=https://$!{restService.fqdn}:$!{restService.httpsPort}
imbot.callHistoryUrl=https://$!{restService.fqdn}:$!{restService.httpsPort}/cdr/
imbot.openfireHost=$!{sipxServiceManager.getServiceParam('openfire-host')}
imbot.openfireXmlRpcPort=$!{sipxServiceManager.getServiceParam('openfire-xml-rpc-port')}
imbot.paUserName=$!{service.personalAssistantImId}@$!{service.domainName}
imbot.paPassword=$!{service.personalAssistantImPassword}
imbot.httpport=$!{service.httpPort}
imbot.locale=$!{service.getSettingValue("imbot/locale")}
