<?xml version="1.0" ?>
<rest-service xmlns="http://www.sipfoundry.org/sipX/schema/xml/sipxrest-service-00-00">
<plugin-class>org.sipfoundry.sipxrest.cdrlog.CdrLogPlugin</plugin-class>
<security-level>LOCAL-AND-REMOTE</security-level>
<uri-prefix>/cdr</uri-prefix>
<service-description>
<![CDATA[ This is a rest plugin for querying call logs for a particular user. You can 
invoke it using the URI cdr/{user}?limit=maxrecs&fromdate=yyyymmdd where
user is a valid user in your user database, maxrecs is the maximum number
of records that can be returned and yyyymmdd is the year/month/day to use
as a starting point for the call logs to obtain. ]]>
</service-description>
<remote-authentication-method>HTTP-DIGEST</remote-authentication-method>
</rest-service>
