# ============================================================================
#
# Copyright (c) 2001 SpeechWorks International
#
# Configuration file for SpeechBrowser client application
#
# Rules:
#	- Lines beginning with '#' are considered comments and ignored
#	- No comments are supported within a line (following other items)
#	- Each line is made of three items, a Name, a Type and a Value
#	- These three items (strings) can be separated by tabs or spaces
#	- Only the Value string can contain spaces, except trailing spaces
#         which are ignored
#	- All items are case-sensitive
#	- Supported types are 'Environment', 'VXIString', 'VXIInteger',
#         'VXIFloat' and 'VXIPtr'
#	- The 'Environment' type is used to set and remove an environment 
#         variable
#	- Types other than 'Environment' indicate you want to set a map 
#         property
#	- All properties will be passed as a single map argument to SB 
#         functions
#	- The value for the 'VXIPtr' type is ignored and considered as NULL
#	- Environment variables set here will apply not only to the script 
#         environment, but to the real application as well
#	- To remove a variable from the environment, supply no Value for it
#	- To use a variable within the script, use the syntax '$(VARIABLENAME)'
#	- Variables can only be used within Value items, not in Names and Types
#
# Examples: 
#                                  Name                 Type       Value
#                            -------------------------------------------------
#  Set an integer property:  myModule.myIntegerKey   VXIInteger  1234
#  Set a string property:    myModule.myStringKey    VXIString   Any string
#  Set an env. variable:     MY_VARIABLE             Environment C:\TEMP;D:\
#  Remove an env. variable:  MY_EX_VARIABLE          Environment
#  Use an env. variable:     myModule.myEnvKey       VXIString   $(MY_VARIABLE)
#
#  You can use several variables within a Value:  $(TYPE)://$(DRIVE)/$(PATH)
#
# ============================================================================

####################################
# Overridden environment variables #
####################################

# VXISDK				Environment	C:\Progra~1\SpeechWorks


#############################
# Base client configuration #
#############################

### Logging
client.log.filename			VXIString	$(VXISDK)/log.txt
# The default is to log to standard out as well as to a file (set to 1)
# set to 0 to disable logging to standard out
client.log.logToStdout                  VXIInteger       1

### Internet fetch, extension rules defined separately below
client.inet.cacheDir			VXIString	$(VXISDK)/cache_sbinet
client.inet.cacheTotalSizeMB		VXIInteger	40
client.inet.cacheEntryMaxSizeMB		VXIInteger	4
client.inet.cacheEntryExpTimeSec	VXIInteger	86400
#client.inet.proxyServer		VXIString	myhost
#client.inet.proxyPort			VXIInteger	1111
client.inet.userAgent			VXIString	OpenVXI/2.0
client.inet.acceptCookies		VXIInteger	1

### JavaScript
client.jsi.runtimeSizeBytes		VXIInteger	16384000
client.jsi.contextSizeBytes		VXIInteger	131072
client.jsi.maxBranches			VXIInteger	100000

### VoiceXML Interpreter
client.vxi.beepURI			VXIString 	http://10.1.1.112:8090/test/prompts/beep.wav	

#####################################
# testClient specific configuration #
#####################################

# Overridden if a URI is specified on the command line
# testClient.vxmlURL			VXIString	file://$(VXISDK)/samples/rec_test.vxml
client.vxmlURL			  	VXIString	http://10.1.1.112:8090/test/


#################################################
# Base diagnostic tag offset for each interface #
#################################################

client.inet.diagLogBase			VXIInteger	3000
client.jsi.diagLogBase			VXIInteger	4000
client.prompt.diagLogBase		VXIInteger	5000
client.rec.diagLogBase			VXIInteger	6000
client.tel.diagLogBase			VXIInteger	7000
client.vxi.diagLogBase			VXIInteger	8000
client.object.diagLogBase		VXIInteger	9000
client.client.diagLogBase		VXIInteger	10000


##############################################
# Diagnostic tags: 0 to disable, 1 to enable #
##############################################

# OSBprompt (5000), OSBrec (600x), and OSBtel (7000) traces
client.log.diagTag.4000			VXIInteger	1
client.log.diagTag.5000			VXIInteger	1
client.log.diagTag.6000			VXIInteger	1
#client.log.diagTag.6001			VXIInteger	1
#client.log.diagTag.6002			VXIInteger	1
#client.log.diagTag.7000			VXIInteger	1

# API/general log traces for other components
#client.log.diagTag.3000			VXIInteger	1
#client.log.diagTag.4000			VXIInteger	1
#client.log.diagTag.9000			VXIInteger	1

# VXI logging, the first is for application diagnostics/errors, the
# second is the output from the <log> element
client.log.diagTag.8000			VXIInteger	1
#client.log.diagTag.8001			VXIInteger	1

# OSBclient API, component, and generic logging respectively
client.log.diagTag.10000		VXIInteger	1
#client.log.diagTag.10001		VXIInteger	1
#client.log.diagTag.10002		VXIInteger	1

# testClient logging
client.log.diagTag.60001                VXIInteger      1

#############################################
# File extension to MIME type mapping rules #
#############################################

client.inet.extensionRule.alaw		VXIString	audio/x-alaw-basic
client.inet.extensionRule.txt		VXIString	text/plain
client.inet.extensionRule.ulaw		VXIString	audio/basic
client.inet.extensionRule.vox		VXIString	audio/x-dialogic-vox
client.inet.extensionRule.wav		VXIString	audio/x-wav
client.inet.extensionRule.xml		VXIString	text/xml
client.inet.extensionRule.vxml		VXIString	application/vxml+xml
client.inet.extensionRule.L8		VXIString	audio/L8;rate=8000

