## Velocity macros
## emit 'setting value' pair - skipping _ignored_ settings
#set($pd = $phone.PhoneContext.PhoneDefaults)
#macro(emit_setting $s)
#if($s.ProfileName != '$ignore$')
#if($s.ProfileName.equals("Enable_100Rel"))
Enable 100Rel = $!{s.Value}
#else
${s.ProfileName} = $!{s.Value}
#end
#end
#end
## emit setting line for every setting in the group
#macro(emit_group $g)
[ ${g.Name} ]
path = ${g.ProfileName}
#if($g.Name.equals("DialNow"))
## server_address = tftp://$pd.DomainName/${phone.PhoneFilename}
server_address = tftp://$pd.FullyQualifiedDomainName/${phone.SerialNumber}/dialnow.xml
#elseif($g.Name.equals("ContactList"))
server_address = tftp://$pd.FullyQualifiedDomainName/${phone.SerialNumber}/contactData1.xml
#else
#foreach ($s in $g.Values)
#emit_setting($s)
#end
#end

#end

#set($lineCount = 0)

#foreach ($line in $phone.lines)
#set($lineCount = $lineCount + 1)
#set($line_index = $velocityCount - 1)
#foreach ($group in $line.Settings.Values)
[ ${group.Name} ]
##path = ${group.ProfileName}  NOTE:comment out this line, use below instead.
path = /config/voip/sipAccount${line_index}.cfg
#foreach ($setting in $group.Values)
#emit_setting($setting)
#end

#end
#end

#set( $lastLine = $phone.Model.MaxLineCount - 1 )
#set( $emptyLines = [$lineCount..$lastLine] )
#foreach ($emptyLine in $emptyLines)
[ account ]
path = /config/voip/sipAccount${emptyLine}.cfg
Enable = 0

#end

#foreach ($group in $phone.Settings.Values)
#emit_group($group)
#end
