#================================================================================================
# Aastra SIP IP 5XXX configuration file
#================================================================================================
