<table align="center" cellpadding="10">
    <tr>
		<td><H2>${defaultAbout.title}</H2></td>
    </tr>
	<tr>
	    <td>${defaultAbout.name}${defaultAbout.details}
                <br/>${defaultAbout.copyright}<br/>${defaultAbout.text}
                <textarea id="license" rows="13" cols="45">${defaultAbout.licenseText}</textarea>
        </td>
	</tr>
</table>