<?xml version="1.0" ?>
<sipxbridge-config xmlns="http://www.sipfoundry.org/sipX/schema/xml/sipxbridge-00-00">
<bridge-configuration>
	<external-address>192.168.5.240</external-address>
	<external-port>5080</external-port>
	<local-address>192.168.5.240</local-address>
	<local-port>5090</local-port>
	<sipx-proxy-domain>example.com</sipx-proxy-domain>
	<music-on-hold-support-enabled>true</music-on-hold-support-enabled>
	<log-level>DEBUG</log-level>
</bridge-configuration>
	

<itsp-account>
	<use-global-addressing>false</use-global-addressing>
	<use-rport>false</use-rport>
	<route-inbound-calls-to-extension>operator</route-inbound-calls-to-extension>
	<outbound-proxy>did.voip.les.net</outbound-proxy>
	<proxy-domain>did.voip.les.net</proxy-domain>
	<authentication-realm>did.voip.les.net</authentication-realm>
	<user-name>your-user-name-here</user-name>
	<password>your-password-here</password>
	<display-name>Some Display Name Here</display-name>
</itsp-account>

</sipxbridge-config>
