<context name="default">
#foreach($conference in $conferences)
#if(${conference.enabled})
  <extension name="${conference.extension}">
    <condition field="destination_number" expression="^${conference.name}${dollar}">
      <action application="set" data="supplied_pin=${dollar}{sip_h_X-ConfPin}"/>
      <action application="conference" data="${conference.dialString}"/>
    </condition>
  </extension>
#end
#end
  <extension name="IVR">
    <condition field="destination_number" expression="^IVR${dollar}">
      <action application="socket" data="${location.address}:8084 async full"/>
#foreach($other in $locations)
      <action application="redirect" data="sip:IVR@${other.address}:15060;${sip_req_params}"/>
#end
    </condition>
  </extension>
#if ($acccode)
  <extension name="ACC">
    <condition field="destination_number" expression="^ACC${dollar}">
      <action application="socket" data="${location.address}:8184 async full"/>
    </condition>
  </extension>
#end
#foreach($extension in $freeswitchExtensions)
  <extension name="${extension.name}">
#foreach($condition in $extension.conditions)
    <condition field="${condition.field}" expression="${condition.escapedExpression}">
#foreach($action in $condition.actions)
      <action application="${action.application}"#if( $action.data ) data="${action.data}"#end/>
#end
    </condition>
#end
  </extension>
#end
</context>
