<context name="default">
#foreach($conference in $conferences)
#if(${conference.enabled})
  <extension name="${conference.extension}">
    <condition field="destination_number" expression="^${conference.name}${dollar}">
      <action application="set" data="supplied_pin=${dollar}{sip_h_X-ConfPin}"/>
      <action application="conference" data="${conference.dialString}"/>
    </condition>
  </extension>
#end
#end
  <extension name="IVR">
    <condition field="destination_number" expression="^IVR${dollar}">
      <action application='set' data='sip_callee_id_name=IVR'/>
      <action application="socket" data="${location.address}:8084 async full"/>
#foreach($other in $locations)
      <action application="redirect" data="sip:IVR@${other.address}:15060;${sip_req_params}"/>
#end
    </condition>
  </extension>
#if ($acccode)
  <extension name="ACC">
    <condition field="destination_number" expression="^ACC${dollar}">
      <action application="socket" data="${location.address}:8184 async full"/>
    </condition>
  </extension>
#end
#if ($park)
#foreach($orbit in $orbits)
#if(${orbit.enabled})
  <extension name="ParkOrbit${orbit.name}">
    <condition field="destination_number" expression="^${orbit.extension}${dollar}">
#if(!${orbit.isMultipleCalls()})
      <action inline="true" application="set" data="slot_count=${dollar}{fifo(count QPark${orbit.extension})}"/>
      <action inline="true" application="set" data="slot_count=${dollar}{slot_count:-9:2}"/>
    </condition>
    <condition field="${slot_count}" expression="^\:0$|no" break="always">
#end
#set( $transfer_expression_referror = 'transf_ext=${regex(${sip_h_X-sipX-referror}|(.*)@|%1)}' )
#set( $transfer_expression_auth = 'transf_ext=${regex(${sip_h_X-Sipx-Authidentity}|sip:(.*)@|%1)}' )
      <action application="set" data="fifo_music=${orbit.audioDirectory}${orbit.music}"/>
      <condition field="${sip_h_X-sipX-referror}" expression=".">
        <action application="set" data="${transfer_expression_referror}"/>
        <anti-action application="set" data="${transfer_expression_auth}"/>
      </condition>
      <action application="set" data="fifo_orbit_exten=transferPark${transf_ext}:${orbit.parkTimeout}"/>
      <action application="set" data="fifo_orbit_dialplan=XML"/>
#if(${orbit.isTransferAllowed()})
      <action application="set" data="fifo_caller_exit_key=${orbit.transferKey}"/>
      <action application="set" data="fifo_caller_exit_to_orbit=true"/>
#end
      <action application="fifo" data="QPark${orbit.extension} in"/>
      <action application="hangup"/>
    </condition>
  </extension>
  <extension name="UnPark${orbit.name}">
    <condition field="destination_number" expression="^(${orbit.unparkExtension}|${orbit.callPickupExtension})${dollar}">
      <action application="fifo" data="QPark${orbit.extension} out nowait"/>
    </condition>
  </extension>
#end
#end
  <extension name="transferPark">
    <condition field="destination_number" expression="^transferPark(\d+)$">
      <action application="set" data="ringback=${us-ring}"/>
      <action application="bridge" data="{api_on_answer='uuid_simplify ${uuid}'}sofia/${domainName}/$1@${domainName}"/>
    </condition>
  </extension>
#end
#foreach($extension in $freeswitchExtensions)
  <extension name="${extension.name}">
#foreach($condition in $extension.conditions)
    <condition field="${condition.field}" expression="${condition.escapedExpression}">
#foreach($action in $condition.actions)
      <action application="${action.application}"#if( $action.data ) data="${action.data}"#end/>
#end
    </condition>
#end
  </extension>
#end
#if ($blindTransfer)
  <extension name="going-in">
    <condition>
      <action application="set" data="ringback=${us-ring}"/>
      <action application="bridge" data="{api_on_answer='uuid_simplify ${uuid}'}sofia/${domainName}/${destination_number}@${domainName}"/>
    </condition>
  </extension>
#end
</context>
