client = yes
foreground = yes
CApath = @SIPX_CONFDIR@/ssl/authorities
cert = @SIPX_CONFDIR@/ssl/ssl.crt
key = @SIPX_CONFDIR@/ssl/ssl.key
# verify = 2 means cert. based on client and server side
verify = 2
debug = 5
output = @SIPX_LOGDIR@/stunnel-client.log
pid = @SIPX_RUNDIR@/stunnel-client.pid

[mongod-primary]
accept = 27019
connect = ${primary.fqdn}:27018
#foreach($location in $locations)

[mongod-${velocityCount}]
#set($lport = $velocityCount + 27019) 
accept = ${lport}
connect = ${location.fqdn}:27018
#end
