body
{
	background: #FFF;
}

a:link
{
	color: #003384;
	text-decoration:underline;
	outline:none;
}

a:visited
{
	color: #003384;
	text-decoration:underline;
}

a:hover,a:active
{
	color: #003384;
	text-decoration:none;
}

h1
{
	color: #003333;
}

h2
{
	/*color: #003333;*/
}

h3
{
	color: #003333;
}


legend
{
	color: #000;
}

.hack
{
	color: #f60;
}

li.tab a:link,
li.tab a:hover,
li.tab a:visited
{
	background: url(/sipxconfig/skin/setting-bullet.gif) left no-repeat;
	padding-left: 18px;
    color: #355563;
	text-decoration: none;
}

li.tab .active a:link,
li.tab .active a:hover,
li.tab .active a:visited
{
	background: url(/sipxconfig/skin/setting-bullet-active.gif) left no-repeat;
	color: #000;
	font-weight: 700;
	text-decoration: none;
}

#voicemailFolders li.tab a:link,
#voicemailFolders li.tab a:hover,
#voicemailFolders li.tab a:visited
{
    background:url('/sipxconfig/images/folder.png') left no-repeat;	
	text-decoration: none;
}

#voicemailFolders li.tab .active a:link,
#voicemailFolders li.tab .active a:hover,
#voicemailFolders li.tab .active a:visited
{
    background:url('/sipxconfig/images/folder.png') left no-repeat;	
	text-decoration: none;
}



#banner
{

}

#logo {
	background: url(/sipxconfig/images/layout/sipXlogo.png) no-repeat scroll left top;
	width:165px;
	height:38px;
	display:inline-block;
}

#banner-links a
{
	color: #C8C8CE;
}

#banner-links a:hover,
#banner-links a:active
{
	color: #EFC300;
}


.highlight
{
	border-color: #699;
}

#footer
{
	color: #ffffff;
	/*border-color: grey;
	border-top-width: thin;
	border-top-style: solid;*/	
}

p.message
{
	color: red;
}

.settingDescription
{
	color: #5d5c58;
}

table.component
{
	border-color: #1B2B31;
	background: #fff;
}

table.component thead,
table.component tbody tr th
{
	color: #595a5b;
	background: #355563 url(/sipxconfig/images/layout/tableHeaderBackground.png) repeat-x scroll left top;
}

table.component thead tr th,
table.component tbody tr th
{
	border-color: #1B2B31;
}

table.component th a
{
	color: #555;
}

table.component tfoot tr td
{
	background: #FFFFFF;
	border-color: #1B2B31;
}

tr.even, tr.even-unheard
{
	border-bottom:solid 1px;
}

tr.odd, tr.odd-unheard
{
	background: #fff;
}

tr.odd-unheard, tr.even-unheard
{
        font-weight: bold;
}

div.date
{
	color: #FFFFFF;
}

div.help
{
	color: #355563;
}

form.with-sections fieldset
{
	background: #FFFFCC;
	border-color: #FFFFCC;
}

form.with-sections legend
{
	background: #F0E68C;
}

.cloud
{
}

.user-error
{
	color: #CC3333;
}

.user-warning
{
	color: #000000;
}

.user-success
{
	color: #3399FF;
}

.not-available
{
        border-style:dashed; 
        border-width:1px; 
        border-color:#777777;
}

.enabled
{
	color: #007733;
}

.disabled
{
	color: #0011cc;
	font-style: italic;
}

#comments
{
	color: #000033;
}

div.autocomplete {
  background: #fff;
}

div.autocomplete ul {
  border:1px solid #888;
}

div.autocomplete ul li.selected {
  background-color: #ffb;
}

div.autocomplete ul strong.highlight {
  color: #800;
}

.inactive {
    color: #AAA;
}

.active {
    color: #000;
}

#searchContainer.styled {
    background: url(/sipxconfig/skin/search.png) no-repeat left #FFF;
    border: 1px solid #000;
}

#searchContainer.styled input {
	border: none !important;
}

.linkHome {
}

.linkHelp {
}

.linkLogout {
}

.linkHome:hover,
.linkHome:active {
}

.linkHelp:hover,
.linkHelp:active {
}

.linkLogout:hover,
.linkLogout:hover {
}

.testDescription {
    border-color: #000000;
}

.testDescription .tooltipTitle {
	background: #8B5E4B;
	color: #FFFFFF;
	font-weight: bold;
}

.testDescription .tooltipBody {
    background: #E0D2C8;
    color: #000000;
}

.service-disabled {
    font-style: italic;
    color: #A8A8A8;
}

.service-error {
    font-weight: bold;
    color: #CC3333; 
}

#updateBox {
	width: 500px;
    border: 1px solid #243942;
    background: #EFF3F6;
    padding: 10px;
}

#updateBox h3 {
    margin: 0;	
}

#updateBox #statusText {
	font-weight: bold;
}

#updateBox #newVersion {
    font-size: 18px;
    font-weight: bold;
    color: #003333;
}

.avatar img {
	border: 5px solid  #F0F0F0;
}
