SIP_STATUS_AUTHENTICATE_ALGORITHM : 
SIP_STATUS_AUTHENTICATE_QOP : 
SIP_STATUS_AUTHENTICATE_REALM : $!{statusService.realm}
SIP_STATUS_DOMAIN_NAME : $!{statusService.domainName}
SIP_STATUS_HTTP_PORT : $settings.getSetting('SIP_STATUS_HTTP_PORT').Value
SIP_STATUS_HTTP_VALID_IPS : $!{location.address}
SIP_STATUS_HTTPS_PORT : $!{statusService.httpsPort}
SIP_STATUS_LOG_CONSOLE : 
SIP_STATUS_LOG_DIR : 
SIP_STATUS_LOG_LEVEL : $settings.getSetting('SIP_STATUS_LOG_LEVEL').Value
SIP_STATUS_MAX_EXPIRES : 
SIP_STATUS_MIN_EXPIRES : 
SIP_STATUS_TCP_PORT : $settings.getSetting('SIP_STATUS_SIP_PORT').Value
SIP_STATUS_UDP_PORT : $settings.getSetting('SIP_STATUS_SIP_PORT').Value
SIP_STATUS_BIND_IP : $!{location.address}
