<?xml version="1.0" ?>
<sipxopenfire-config xmlns="http://www.sipfoundry.org/sipX/schema/xml/sipxopenfire-00-00">
	<sipx-proxy-domain>$settings.getSetting('settings/sipx-proxy-domain').Value</sipx-proxy-domain>
	<sipx-proxy-port>$settings.getSetting('settings/sipx-proxy-port').Value</sipx-proxy-port>
	<user-name>$username</user-name>
	<password>$password</password>
	<resource-list>$resource-list</resource-list>
	<watcher-address>$settings.getSetting('settings/watcher-address').Value</watcher-address>
	<watcher-port>$settings.getSetting('settings/watcher-port').Value</watcher-port>
	<log-directory>$service.logDir</log-directory>
	<log-level>$settings.getSetting('settings/log-level').Value</log-level>
	<openfire-xml-rpc-port>$settings.getSetting('settings/openfire-xml-rpc-port').Value</openfire-xml-rpc-port>
	<openfire-host>$settings.getSetting('settings/openfire-host').Value</openfire-host>
</sipxopenfire-config>