<?xml version='1.0' encoding='ISO-8859-1'?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
    <!-- Servlets -->
    <servlet>
        <servlet-name>PresenceStatusServlet</servlet-name>
        <servlet-class>org.sipfoundry.openfire.plugin.presence.PresenceStatusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserAccountServlet</servlet-name>
        <servlet-class>org.sipfoundry.openfire.plugin.presence.UserAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpenfireServerControlServlet</servlet-name>
        <servlet-class>org.sipfoundry.openfire.plugin.presence.OpenfireServerControlServlet</servlet-class>
    </servlet>

    <!-- Servlet mappings -->
    <servlet-mapping>
        <servlet-name>PresenceStatusServlet</servlet-name>
        <url-pattern>/status</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserAccountServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpenfireServerControlServlet</servlet-name>
        <url-pattern>/serverctl</url-pattern>
    </servlet-mapping>

</web-app>

