.detail, .detailLabel
{
	padding:3px;
}


input[disabled='disabled'] {
	border:0px;
	background:white;
	color:blue;
	cursor:default;
}

input.disabled {
	border:0px;
	background:white;
	color:blue;
	cursor:default;
}

input.textItemDisabled {
	border:0px;
	background:white;
	cursor:default;
}

.titleFormStyle, .titleFormStyleFocused, .titleFormStyleError
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9px;
}

td.titleFormStyleDisabled
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:9px;
}

.gwtContactNameStyle
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
}
.gwtExpandedContact
{
	background:inherit;
}

.gwtHeading
{
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:24px;
	font-weight:bold;
	margin:10px;
}

.gwtAvatarImg
{
	margin:10px;
}
