.gwtGridHeaderTitle, .gwtGridHeaderTitleSelected
{
	border-width:1px;
	border-style: solid;
	white-space:nowrap;
	padding:3px 5px;
	text-align: left;
	color: #fff;
	background: #355563;
	border-color: #1B2B31;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
	font-weight:bold;
}

.gwtGridBody, .gwtGridBodyOver
{
	background: #D3E2E8;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
}

.gwtGridBodyDark, .gwtGridBodyOverDark
{
	background: #fff;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
}

.gwtGridBodySelected, .gwtGridBodySelectedDark
{
	color: #FFFFFF;
	background: #000000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
}

.gwtGridBodySelectedOver, .gwtGridBodySelectedOverDark
{
	color: #FFFFFF;
	background: #000000;
	font-family:Verdana,Arial,Helvetica,sans-serif;
	font-size:12px;
}


