<?xml version="1.0" encoding="UTF-8"?>
<plugin>
	<!-- Main plugin class -->
	<class>org.sipfoundry.openfire.plugin.presence.SipXOpenfirePlugin
	</class>
	<!-- Plugin meta-data -->
	<name>sipxpresence</name>
	<description>Plugin that handles synchronization with config and
		exposes some servlets for presence and chat room management.
	</description>
	<author>Sipfoundry</author>

	<version>1.1</version>
	<date>01/10/2013</date>
	<minServerVersion>3.8.1</minServerVersion>
	<licenseType>lgpl</licenseType>
	<!-- Admin console entries -->
	<adminconsole>
		<!-- Nothing goes here -->
	</adminconsole>
</plugin>

