{erl_opts, [debug_info]}.

{deps,
  [{erlmongo, "0.1", {git, "https://github.com/wpntv/erlmongo.git", {branch, "master"}}},
   {mochiweb, "2.3.0", {git, "http://github.com/mochi/mochiweb.git", {tag, "v2.3.0"}}},
   {meck, "0.7.1", {git, "https://github.com/eproxus/meck.git", {tag, "0.7.1"}}}
  ]}.

{cover_enabled, true}.
