[{'OpenACD', [
	{console_loglevel, $log_level},
	{logfiles, [{"full.log", $log_level}, {"console.log", $log_level}]},
	{plugin_dir, "plugin.d"}, {plugins, [sipxplugin]}
]},
{sasl, [
	{errlog_type, error} % disable SASL progress reports
]}].